/* Custom app style */

body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.inlet {
  padding: 24px;
}

ul.book-list {
  list-style: none outside none;
  padding: 0;
}

ul.book-list li {
  border-top: 1px solid #eee;
  padding-bottom: 1em;
}
